{% if config.extra.auto_img and src is not starting_with("http") %}
  {# set extension = src | split(pat=".") | slice(start=-1) #}
  {% if not w or not h %}
    {% set meta = get_image_metadata(path=src, allow_missing=true) %}
    {% if page %}
      {% set path = page.path %}
    {% elif section %}
      {% set path = section.path %}
    {% endif %}
    {% if lang != config.default_language %}
      {% set src = path ~ src | replace(from=path | truncate(length=4, end=""), to="/") %}
    {% else %}
      {% set src = path ~ src %}
    {% endif %}
    {% set meta = get_image_metadata(path=src) %}
  {% endif %}
  {% set default = resize_image(
      path=src,
      width=w | default(value=meta.width),
      height=h | default(value=meta.height)
    ) %}
  {% set webp = resize_image(
      path=src,
      width=w | default(value=meta.width),
      height=h | default(value=meta.height),
      format="webp"
    ) %}
  {# set avif = resize_image(
      path=src,
      width=w | default(value=meta.width),
      height=h | default(vaule=meta.height),
      format="avif") #}
  {% set w = default.width %}
  {% set h = default.height %}
{% endif %}
{% set filename = src | split(pat="/") | slice(start=-1) %}
{% set filename = filename.0 | split(pat=".") %}
<picture>
  {% if webp %}<source srcset="{{ webp.url | safe }}" type="image/webp">{% endif %}
  <img width="{{ w | default(value="1920") }}"
       height="{{ h | default(value="1080") }}"
       alt="{{ alt | default(value=filename.0) }}"
       src="{{ default.url | default(value=src) | safe }}"
       {% if class %}class="{{ class }}"{% endif %}>
</picture>
