{# Isolate file name (file.0) and extension (file.1) #}
{% set file = src | split(pat="/") | slice(start=-1) %}
{% set file = file.0 | split(pat=".") %}
{# Modify image if it’s local #}
{% if src is not starting_with("http") %}
  {# " %} #}
  {% if w or h %}
    {# Resize with fit method if one dimension is provided #}
    {% set smart_op = "fit" %}
    {% if w and h %}
      {# Resize with fill method if two dimensions are provided #}
      {% set smart_op = "fill" %}
    {% endif %}
    {% set default = resize_image(
          path=src,
          width=w | default(value=meta.width | default(value=h)),
          height=h | default(value=meta.height | default(value=w)),
          op=op | default(value=smart_op)
        ) %}
    {% set webp = resize_image(
          path=src,
          width=w | default(value=meta.width | default(value=h)),
          height=h | default(value=meta.height | default(value=w)),
          op=op | default(value=smart_op),
          format="webp"
        ) %}
    {% set w = default.width %}
    {% set h = default.height %}
  {% else %}
    {# Get image dimensions if none are provided #}
    {% set meta = get_image_metadata(path=src, allow_missing=true) %}
    {% if not meta %}
      {# Search image in collocated assets if not found #}
      {% if page %}
        {% set path = page.path %}
      {% elif section %}
        {% set path = section.path %}
      {% endif %}
      {% if lang != config.default_language %}
        {% set src = path ~ src | replace(from=path | truncate(length=4, end=""), to="/") %}
      {% else %}
        {% set src = path ~ src %}
      {% endif %}
      {% set meta = get_image_metadata(path=src) %}
    {% endif %}
  {% endif %}
{% endif %}
{# Create a link to the original file in addition to the resized image #}
<a href="{{ src | safe }}">
  <picture>
    {% if webp %}<source srcset="{{ webp.url | safe }}" type="image/webp">{% endif %}
    <img width="{{ w | default(value=meta.width | default(value=1920) ) }}"
         height="{{ h | default(value=meta.height | default(value=1080) ) }}"
         alt="{{ alt | default(value=file.0) }}"
         src="{{ default.url | default(value=src) | safe }}"
         {% if class %}class="{{ class }}"{% endif %}>
  </picture>
</a>
