{% extends "base.html" %}

{% block global_vars %}
  {% set root = get_section(path="_index.md", metadata_only=false) %}
  {% for root_tr in root.translations %}
    {% if root_tr.lang == lang %}
      {% set root = get_section(path=root_tr.path, metadata_only=false) %}
    {% endif %}
  {% endfor %}
{% endblock global_vars %}

{%- block title -%}
  {{ config.title }} - HTTP 404
{%- endblock title -%}

{% block main_nav -%}
  {{ macros::link_root(root=root) }}
  {{ macros::section_children(in_section=root) }}
{%- endblock main_nav %}

{% block content %}
<main class="http-404">
  {% block prepend_content %}
    <h1>HTTP 404</h1>
  {% endblock prepend_content %}
  <p>{{ tr.http_404 }}</p>
  {% block append_content %}
    <a href="{{ root.permalink | safe }}">
      <i class="fas fa-home"></i>
      <span>{{ tr.return_home }}</span>
    </a>
  {% endblock append_content %}
</main>
{% endblock %}
