{% import "macros.html" as lib %}
{# Retreive configuration variables #}
{% block config %}
{% endblock config %}
{# Retreive site index with proper language #}
{% if lang == config.default_language %}
  {% set index = get_section(path="_index.md", metadata_only=true) %}
{% else %}
  {% set index = get_section(path="_index."~lang~".md", metadata_only=true) %}
{% endif %}
{# Retreive template translations #}
{% set i18ns = load_data(path="data/i18n.yml", required=false) %}
{% if not i18ns %}
  {% set i18ns = load_data(path=config.extra.path~"/data/i18n.yml") %}
{% endif %}
{% set i18n = i18ns[lang] %}
{# Retreive predefined icons #}
{% set icons = load_data(path="data/icon.yml", required=false) %}
{% if not icons %}
  {% set icons = load_data(path=config.extra.path~"/data/icon.yml") %}
{% endif %}
{# The actual page #}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {# Metadata #}
    <meta charset="utf-8">
    <title>{{ title | default(value=config.title) }}</title>
    {% if config.extra.author %}<meta name="author" content="{{ config.extra.author }}">{% endif %}
    <meta name="description"
          content="{{ description | default(value=config.description) }}">
    <meta name="og:description"
          content="{{ description | default(value=config.description) }}">
    <meta name="og:title" content="{{ title | default(value=config.title) }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta name="og:url"
          content="{{ permalink | default(value=config.base_url) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Additional metadata #}
    {{ lib::file2tags(tag="meta") }}
    {# Translations #}
    {% if translations %}
      {% for translation in translations %}
        <link rel="alternate"
              hreflang="{{ translation.lang }}"
              href="{{ translation.permalink }}">
      {% endfor %}
      {# Disable auto translation, we have our own #}
      <meta name="google" content="notranslate">
    {% endif %}
    {# Import links #}
    {{ lib::file2tags(tag="link") }}
    {# Import scripts #}
    {{ lib::file2tags(tag="script") }}
  </head>
  <body id="top">
    {% block body_prepend %}
    {% endblock body_prepend %}
    {% block header %}
      {% if config.extra.banner %}
        <header>
          {% block header_prepend %}
          {% endblock header_prepend %}
          {% block header_content %}
            <a href="{{ index.permalink | safe }}">
              {% set banner = get_image_metadata(path=config.extra.banner, allow_missing=true) %}
              {% if banner %}
                <img class="banner"
                     width="{{ banner.width }}"
                     height="{{ banner.height }}"
                     src="{{ config.extra.banner }}"
                     alt="{{ i18n.banner }}">
              {% else %}
                <h1>{{ config.extra.banner }}</h1>
              {% endif %}
            </a>
          {% endblock header_content %}
          {% block header_append %}
          {% endblock header_append %}
        </header>
      {% endif %}
    {% endblock header %}
    {% block nav %}
      <nav id="NAV" aria-label="{{ i18n.nav }}">
        {% block nav_prepend %}
          {# Translations #}
          {{ lib::next_translation(translations=translations | default(value=[]) ) }}
        {% endblock nav_prepend %}
        {% block nav_content %}
          {# Index #}
          {% if index.title %}
            {{ lib::nav_link(title=index.title, permalink=permalink, link_permalink=index.permalink) }}
          {% endif %}
          {# Taxonomies #}
          {% for taxonomy in config.taxonomies %}
            {% set taxonomy = get_taxonomy(kind=taxonomy.name, lang=lang) %}
            {{ lib::nav_link(title=taxonomy.name, permalink=permalink, link_permalink=taxonomy.permalink) }}
          {% endfor %}
          {# Subsections #}
          {% for subsection in index.subsections %}
            {% set subsection = get_section(path=subsection, metadata_only=true) %}
            {{ lib::nav_link(title=subsection.title, permalink=permalink, link_permalink=subsection.permalink) }}
          {% endfor %}
        {% endblock nav_content %}
        {% block nav_append %}
          {# Social links #}
          {{ lib::social_links(links=config.extra.social_links | default(value=[]) ) }}
        {% endblock nav_append %}
      </nav>
    {% endblock nav %}
    {% block toc %}
      {% if toc | default(value=[]) | length > 1 or toc[0].children %}
        <nav id="TOC" aria-label="{{ i18n.toc }}">
          {% block toc_prepend %}
            <h2>{{ i18n.toc | capitalize }}</h2>
          {% endblock toc_prepend %}
          {% block toc_content %}
            {{ lib::toc(toc=toc) }}
          {% endblock toc_content %}
          {% block toc_append %}
          {% endblock toc_append %}
        </nav>
      {% endif %}
    {% endblock toc %}
    {% block main_before %}
    {% endblock main_before %}
    {% block main %}
      <main class="{{ self | default(value=" 404") }}">
        {% block main_prepend %}
          {{ lib::info(i18n=i18n) }}
        {% endblock main_prepend %}
        {% block main_content %}
        {% endblock main_content %}
        {% block main_append %}
        {% endblock main_append %}
      </main>
    {% endblock main %}
    {% block aside %}
      <aside>
        {% block aside_content %}
          {{ lib::return_to(label=i18n.return_toc, id="TOC") }}
        {% endblock aside_content %}
      </aside>
    {% endblock aside %}
    {% block main_after %}
    {% endblock main_after %}
    {% block footer %}
      <footer>
        {% block footer_prepend %}
        {% endblock footer_prepend %}
        {% block footer_content %}
          <ul>
            <li>© {{ config.extra.creation_year }}-{{ now() |date(format="%Y") }} {{ config.extra.author }}</li>
            <li>{{ i18n.last_updated | capitalize }} {{ now() |date(format="%d/%m/%Y") }}</li>
            {% block footer_extra %}
              <li>
                {{ i18n.generated | capitalize }} <a href="https://www.getzola.org">Zola</a>,
                {{ i18n.using }} <a href="https://github.com/gfauredev/Neutral-Zola-Theme">{{ i18n.website_base }}</a>
              </li>
            {% endblock footer_extra %}
          </ul>
        {% endblock footer_content %}
        {% block footer_append %}
        {% endblock footer_append %}
      </footer>
    {% endblock footer %}
    {% block body_append %}
    {% endblock body_append %}
  </body>
  {% block html_append %}
  {% endblock html_append %}
</html>
