{% import "macros.html" as macros %}
{% set tr = load_data(path="translations/" ~ lang ~ ".yml") %}

{% block global_vars %}
{% endblock global_vars %}

<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {% block prepend_head %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% endblock prepend_head %}

  {% block metas %}
    {% if config.description %}
      <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">
    {% endif %}
    {% if config.author %}
      <meta name="author" content="{{ config.extra.author }}">
    {% endif %}
  {% endblock metas %}

  {% block custom_meta %}
    {% if config.extra.meta %}
      {% for meta in config.extra.meta %}
        <meta{% for key, value in meta %} {{ key }}="{{ value | safe }}"{% endfor %}>
      {% endfor %}
    {% endif %}
  {% endblock custom_meta %}

  <title>
    {%- block title -%}
      {{ config.title }}
    {%- endblock title -%}
  </title>

  {% block links %}
    {% if config.extra.links %}
      {% for link in config.extra.links %}
        <link{% for key, value in link %} {{ key }}="{{ value | safe }}"{% endfor %}>
      {% endfor %}
    {% endif %}
  {% endblock links %}

  {% block styles %}
    {% set styles = load_data(path="styles.yml", required=false) %}
    {% if styles %}
      {% for style, attrs in styles %}
        <link rel="stylesheet" {%- for key, value in attrs %} {{ key }}="{{ value | safe }}"{% endfor %}>
      {% endfor %}
    {% endif %}
  {% endblock styles %}

  {% block scripts %}
    {% set scripts = load_data(path="scripts.yml", required=false) %}
    {% if scripts %}
      {% for script, attrs in scripts %}
        <script{%- for key, value in attrs %} {{ key }}="{{ value | safe }}"{% endfor %}>
      {% endfor %}
    {% endif %}
  {% endblock scripts %}

  {% block append_head %}
  {% endblock append_head %}
</head>

<body>
  {% block prepend_body %}
  {% endblock prepend_body %}

  <header>
  {% block prepend_header %}
    {% if config.extra.logo %}
      <a href="{{ root.permalink | safe }}">
        {% set resized_logo = resize_image(path=config.extra.logo, height=250, op="fit_height", format="webp") %}
        <img class="logo" width="150" height="150" src="{{ resized_logo.url }}"
          alt="Logo">
      </a>
    {% endif %}
  {% endblock prepend_header %}
  {% block header %}
  {% endblock header %}
  {% block append_header %}
    {% if config.title %}
      <a href="{{ root.permalink | safe }}">
        <h1 class="title">{{ config.title }}</h1>
      </a>
      {% endif %}
  {% endblock append_header %}
  </header>

  <nav aria-label="navigation menu">
    {% block prepend_nav %}
    {% endblock prepend_nav %}
    <ul>
    {% block main_nav %}
    {% endblock main_nav %}
    </ul>
    {% block actions %}
      {#<section class="actions">
        {% if translations %}
          <button id="lang-select" aria-label="Choose language">
            <i class="fa-solid fas fa-language"></i>
          </button>
        {% endif %}
        <button id="nav-search" aria-label="Start search" data-target="#search-modal">
          <i class="fas fa-search"></i>
        </button>
        <button id="theme-switch" aria-label="Switch theme">
          <i class="fas fa-adjust"></i>
        </button>
      </section>#}
    {% endblock actions %}
    {% block append_nav %}
    {% endblock append_nav %}
  </nav>

  {% block content %}
  {% endblock %}

  <footer>
    {% block footer %}
      {{ macros::social_links(nets=config.extra.networks) }}

      {%- if config.extra.author %}
        <p class="copyright">© {{ now() | date(format="%Y") }} {{ config.extra.author }}</p>
      {% elif config.title %}
        <p class="copyright">© {{ now() | date(format="%Y") }} {{ config.title }}</p>
      {% endif %}
    {% endblock footer %}
  </footer>

  {% block append_body %}
  {% endblock append_body %}
</body>
</html>
