{# Metadata #}
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ config.title }}">
<meta name="description" content="{{ description }}">
<meta name="og:description" content="{{ description }}" />
<meta name="author" content="{{ config.extra.author }}">
<meta property="og:type" content="website">
{# Important for responsiveness #}
<meta name="viewport" content="width=device-width, initial-scale=1">
{# Translations #}
{% if section.translations %}
  {% for translation in section.translations %}
    <link rel="alternate"
          hreflang="{{ translation.lang }}"
          href="{{ translation.permalink }}">
  {% endfor %}
{% endif %}
{# 16×16, 32×32, (48×48), (64×64) icon #}
<link rel="icon" href="/favicon.ico" sizes="any">
{# Vector icon #}
<link rel="icon" href="/icon.svg" type="image/svg+xml">
{# 180×180 icon #}
<link rel="apple-touch-icon" href="/icon.png">
{# Import links #}
{{ lib::file2tags(path="include/link.yml") }}
{# Import scripts #}
{{ lib::file2tags(path="include/script.yml", tag="script") }}
