{% extends "base.html" %}

{% block global_vars %}
  {% set root = section %}
{% endblock global_vars %}

{%- block title -%}
  {% if section.title %}
    {{ section.title }}
  {% else %}
    {{ config.title }}
  {% endif %}
{%- endblock title -%}

{% block main_nav -%}
  {{ macros::section_children(in_section=section) }}
{%- endblock main_nav %}

{% block content %}
  <main class="index">
    {% block prepend_content %}
      <h1>{{ section.title }}</h1>
    {% endblock prepend_content %}
    {{ section.content | safe }}
    {% block append_content %}
    {% endblock append_content %}
  </main>
{% endblock content %}
