{% macro social_links(nets) %}
  {% set infos = load_data(path="social-networks.yml") %}
  <ul class="social-links">
  {% for net, id in nets %}
    {% info = infos.net %}
    <li>
      <a class="{{ net }}" href="{{ info.href | replace(from='$ID', to=id) }}" target="_blank">
        <i class="{{ info.icon }}"></i>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro root_children(root, self_permalink) %}
{% endmacro %}

{% macros::taxonomy_children(self, self_permalink) %}
{% endmacro %}
