{% macro social_links(nets) %}
  {% set infos = load_data(path="social-networks.yml") %}
  <ul class="social-links">
  {% for net, id in nets %}
    {% set info = infos[net] %}
    <li>
      <a class="{{ net }}" href="{{ info.href | replace(from='$ID', to=id) | safe }}" target="_blank">
        <i class="{{ info.icon }}"></i>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro link_root(root, itself=false) %}
  {% if root.title %}
    <li class="index">
      <a aria-label="Link to {{ root.title }}"
        {%- if itself %}
          id="current"
        {%- endif %}
        href="{{ root.permalink | safe }}"><i>{{ root.title }}</i>
      </a>
    </li>
 {% endif %}
{% endmacro %}

{% macro section_children(in_section, self_ancestors="", note_current=false) %}
  {% if in_section.subsections %}
    {% for sub_path in in_section.subsections %}
      {% set sub = get_section(path=sub_path, metadata_only=true) %}
      <li class="section">
        <a aria-label="Link to {{ sub.title }}"
          {%- if note_current -%}
            {%- if current_path == sub.path or sub_path in self_ancestors %}
              id="current"
            {%- endif %}
          {%- endif %}
          href="{{ sub.permalink | safe }}"><i>{{ sub.title }}</i>
        </a>
      </li>
    {% endfor %}
  {% endif %}
  {% if in_section.pages %}
    {% for page in in_section.pages %}
      <li class="page">
        <a aria-label="Link to {{ page.title }}"
          {%- if note_current -%}
            {%- if current_path == page.path %}
              id="current"
            {%- endif %}
          {%- endif %}
          href="{{ page.permalink | safe }}"><i>{{ page.title }}</i>
        </a>
      </li>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro taxonomy_children(self) %}
{% endmacro %}


{% macro disqus(name, url, id) %}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ url | safe }}";
      this.page.identifier = {{ id }};
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ name | safe }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
{% endmacro %}
