{% block prepend_nav %}
{% endblock prepend_nav %}
<ul>
{% block main_nav %}
{% endblock main_nav %}
</ul>
{% block actions %}
{#<section class="actions">
{% if translations %}
<button id="lang-select" aria-label="Choose language">
<i class="fa-solid fas fa-language"></i>
</button>
{% endif %}
<button id="nav-search" aria-label="Start search" data-target="#search-modal">
<i class="fas fa-search"></i>
</button>
<button id="theme-switch" aria-label="Switch theme">
<i class="fas fa-adjust"></i>
</button>
</section>#}
{% endblock actions %}
{% block append_nav %}
{% endblock append_nav %}
