{# Translations #}
{{ lib::next_translation(translations=translations | default(value=[]) ) }}
{# Index #}
{{ lib::nav_link(title=index.title, this_permalink=index.permalink) }}
{# Taxonomies #}
{% for taxonomy in config.taxonomies %}
  {% set taxonomy = get_taxonomy(kind=taxonomy.name, lang=lang) %}
  {{ lib::nav_link(title=taxonomy.name, this_permalink=taxonomy.permalink) }}
{% endfor %}
{# Subsections #}
{% for subsection in index.subsections %}
  {% set subsection = get_section(path=subsection, metadata_only=true) %}
  {{ lib::nav_link(title=subsection.title, this_permalink=subsection.permalink) }}
{% endfor %}
{# Social links #}
{{ lib::social_links(links=config.extra.social_links | default(value=[]) ) }}
