{% extends "base.html" %}

{% block title -%}
  {{ page.title }}
{%- endblock title %}

{% block header %}
  {% set root = page.ancestors | first %}
  {% set root = get_section(path=root, metadata_only=false) %}
  <header>
    <a href="{{ root.permalink }}">
      {% if config.extra.logo %}
        <img class="site-logo" src="{{ config.extra.logo }}" alt="Logo">
      {% endif %}
      {% if config.title %}
        <h1 class="site-title">{{ config.title }}</h1>
      {% endif %}
    </a>
  </header>
{% endblock %}

{% block main_nav %}
  {% set root = page.ancestors | first %}
  {% set root = get_section(path=root, metadata_only=false) %}
  {{ macros::section_children(in_section=root, self_ancestors=page.ancestors) }}
{% endblock main_nav %}

{% block content %}
  <main class="page">
    {% block prepend_content %}
      <h1>{{ page.title }}</h1>
    {% endblock prepend_content %}
    {{ page.content | safe }}
    {% block append_content %}
    {% endblock append_content %}
  </main>
{% endblock content %}
