{% extends "base.html" %}

{% block global_vars %}
  {% set root_path = page.ancestors | first %}
  {% set root = get_section(path=root_path, metadata_only=false) %}
{% endblock global_vars %}

{%- block title -%}
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ config.title }}
  {% endif %}
{%- endblock title -%}

{% block main_nav %}
  {{ macros::section_children(in_section=root, self_ancestors=page.ancestors) }}
{% endblock main_nav %}

{% block content %}
  <main class="page">
    {% block prepend_content %}
      <h1>{{ page.title }}</h1>
    {% endblock prepend_content %}
    {{ page.content | safe }}
    {% block append_content %}
    {% endblock append_content %}
  </main>
{% endblock content %}
