{# TODO replace this with macro(s) #}
<footer>
  {% for taxonomy, terms in page.taxonomies %}
    {% set taxonomy = get_taxonomy(kind=taxonomy, lang=lang) %}
    <h1>
      {{ lib::related_icon(word=taxonomy) }}
      {{ taxonomy | capitalize }}
    </h1>
    <ul class="terms">
      {% for term in taxonomy.terms %}
        {% if term.name in terms %}
          <li>
            <a href="{{ term.permalink | safe }}">{{ term.name }} ({{ term.pages | length }})</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</footer>
