{% extends "base.html" %}
{% block config %}
  {% set lang = section.lang %}
  {% set permalink = section.permalink %}
  {% if section.translations %}
    {% set translations = section.translations %}
  {% endif %}
  {% set title = section.title %}
  {% set description = section.description %}
  {% set toc = section.toc %}
  {% set ancestors = section.ancestors %}
{% endblock config %}
{% block main %}
  {% include "toc.html" %}
  {% if section.content %}
    <section>
      {{ section.content | safe }}
    </section>
  {% endif %}
  {% include "subpages.html" %}
  {% include "subsections.html" %}
{% endblock main %}
{#
{% block main_nav %}
    {{ macros::link_root(root=root) }}
    {{ macros::section_children(in_section=root, self_ancestors=section.ancestors, note_current=true) }}
{% endblock main_nav %}
{% block content %}
    <main class="section {% if section.extra.class %}{{ section.extra.class }}{% endif %}">
        {% block prepend_content %}
            {% if section.extra.image_title %}
                <h1 style="display: none">{{ section.title }}</h1>
                <img class="title"
                     src="{{ section.extra.image_title }}"
                     alt="{{ section.title }}">
            {% elif section.extra.include_title %}
                <h1>{{ section.title }}</h1>
            {% else %}
                <h1 style="display: none">{{ section.title }}</h1>
            {% endif %}
        {% endblock prepend_content %}
        {{ section.content | safe }}
        {% block append_content %}
            <section class="children">
                {% if section.title %}<h2 style="display: none">{{ section.title }}</h2>{% endif %}
                {{ macros::section_articles(in_section=section) }}
            </section>
        {% endblock append_content %}
    </main>
{% endblock content %}
#}
