{% extends "base.html" %}

{% block global_vars %}
  {% set root_path = section.ancestors | first %}
  {% set root = get_section(path=root_path, metadata_only=false) %}
{% endblock global_vars %}

{%- block title -%}
  {% if section.title %}
    {{ section.title }}
  {% else %}
    {{ config.title }}
  {% endif %}
{%- endblock title -%}

{% block main_nav %}
  {{ macros::section_children(in_section=root, self_ancestors=section.ancestors) }}
{% endblock main_nav %}

{% block content %}
  <main class="section">
    {% block prepend_content %}
      <h1>{{ section.title }}</h1>
    {% endblock prepend_content %}
    {{ section.content | safe }}
    {% block append_content %}
    {{ macros::section_children(in_section=section) }}
    {% endblock append_content %}
  </main>
{% endblock content %}
