{% extends "base.html" %}
{% block config %}
  {% set permalink = current_url %}
  {% set title = taxonomy.name %}
  {% set description = config.title ~ " : " ~ taxonomy.name %}
{% endblock config %}
{# TODO factorize this with taxonomy_single with macro(s) #}
{% block main %}
  <h1>
    {% set slug = title | slugify %}
    {% if config.extra.taxonomies_icons[slug] %}<i class="{{ config.extra.taxonomies_icons[slug] }}"></i>{% endif %}
    {{ taxonomy.name | capitalize }}
  </h1>
  <ul class="terms">
    {% for term in terms %}
      <li>
        <a href="{{ term.permalink | safe }}">{{ term.name }} ({{ term.pages | length }})</a>
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
{#
    <main class="taxonomy">
        {% block prepend_content %}
            <h1>({{ terms | length }}) {{ taxonomy.name }}{{ terms | length | pluralize }}</h1>
        {% endblock prepend_content %}
        {{ macros::taxonomy_children(self=taxonomy, self_permalink=taxonomy.permalink) }}
        <ul class="terms">
            {% for t in terms %}
                <li>
                    <a href="{{ t.permalink }}">
                        <span>{{ t.name }} <sup>{{ t.pages | length }}</sup></span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% block append_content %}
        {% endblock append_content %}
    </main>
#}
