{% extends "base.html" %}
{% block config %}
  {% set permalink = current_url %}
  {% set title = taxonomy.name %}
  {% set description = config.title ~ " : " ~ taxonomy.name %}
{% endblock config %}
{# TODO factorize this with taxonomy_single with macro(s) #}
{% block main %}
  <h1>
    {{ terms | length }}
    {{ lib::related_icon(word=title) }}
    {{ taxonomy.name | capitalize }}
  </h1>
  <ul class="terms">
    {# set terms = terms | sort(attribute="name") #}
    {% for term in terms %}
      <li>
        {% set pages_nb = term.pages | length %}
        <a href="{{ term.permalink | safe }}">{{ term.name }} ({{ pages_nb }} {{ i18n.page }}{{ pages_nb | pluralize }})</a>
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
