{% extends "base.html" %}
{% block config %}
  {% set permalink = current_url %}
  {% set title = term.name %}
  {% set description = taxonomy.name ~ " : " ~ term.name %}
  {% set self = "term" %}
{% endblock config %}
{% block main %}
  <h1>
    {{ term.pages | length }}
    {{ lib::related_icon(word=taxonomy.name) }}
    {{ taxonomy.name | capitalize }}&nbsp;:
    {{ term.name }}
  </h1>
  <ul class="pages">
    {% for page in term.pages %}
      <li>
        <a href="{{ page.permalink | safe }}">
          {{ page.title }}
          ({{ page.reading_time }}&nbsp;{{ i18n.minute }}{{ page.reading_time | pluralize }})
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
