{% extends "base.html" %}

{% block content %}
<main class="taxonomy">
  {% block prepend_content %}
    <h1>({{ terms | length }}) {{ taxonomy.name }}{{ terms | length | pluralize }}</h1>
  {% endblock prepend_content %}
  {{ macros::taxonomy_children(self=taxonomy, self_permalink=taxonomy.permalink) }}
  <ul class="terms">
    {% for t in terms %}
      <li>
        <a href="{{ t.permalink }}">
          <span>{{ t.name }} <sup>{{ t.pages | length }}</sup></span>
        </a>
      </li>
    {% endfor %}
  </ul>
  {% block append_content %}
  {% endblock append_content %}
</main>
{% endblock content %}
