{% extends "base.html" %}
{% block config %}
  {% set permalink = current_url %}
  {% set title = term.name %}
  {% set description = taxonomy.name ~ " : " ~ term.name %}
{% endblock config %}
{# TODO factorize this with taxonomy_list or pages listing with macro(s) #}
{% block main %}
  <h1>
    {{ term.pages | length }}
    {{ lib::related_icon(word=taxonomy.name) }}
    {{ taxonomy.name | capitalize }}&NonBreakingSpace;:
    {{ term.name }}
  </h1>
  <ul class="term-pages">
    {% for page in term.pages %}
      <li>
        <a href="{{ page.permalink | safe }}">
          {{ page.title }}
          ({{ page.reading_time }} {{ i18n.minute }}{{ page.reading_time | pluralize }})
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
